$game-board-side: 300px;

.page-header{
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.new-game-and-current-score {
  width: $game-board-side;
  #new-game {
    color: #337ab7;
    cursor: pointer;
    display: inline-block;
  }

  .score-board {
    float: right;
  }
}

#game-board {
  background-color: black;
  overflow: hidden;
  position: relative;
  height: $game-board-side;
  width: $game-board-side;

  .asteroid {
    background-color: black;
    border: 1px solid white;
    border-radius: 25px;
    position: absolute;
  }

  .bullet {
    background-color: white;
    border: 1px solid white;
    position: absolute;
    height: 1px;
    width: 1px;
  }

  #ship{
    background-color: black;
    position: absolute;
    width: 0;
    height: 0;
  }
}

.top-scores-and-header {
  .top-scores {
    ol {
      font-weight: bold;
      padding-left: 15px;

      #list-two {
        opacity: 0.85;
      }

      #list-three {
        opacity: 0.7;
      }
    }
  }
}