* {
  text-align: center;
  background-color: black;
}

body {
  margin-top: 20px;
}

#canvas {
  border: 1px solid black;
  background-color: #1A1A1A;
}

#keys1, #keys2 {
  transform: scale(0.4);
  display: inline-block;
  text-align: left;
}

#level, #level-num {
  transform: scale(0.8);
}

#hinea_studios {
  transform: scale(0.7);
  margin-top: 20px;
}