header {
  margin: 20px auto;
  text-align: center;
}


.play-button {
  font-size: 24px;
}


.canvas-container {
  margin: 10px auto;
  text-align: center;
}


#playarea {
  border: 1px solid #999;
}

.gameover {
  height: 0;
  margin: 0;
  font-size: 48px;
  color: #F00;
  position: relative;
  bottom: 100%;
  transform: translateY(200px);
}