header {
  margin: 10px auto;
  text-align: center;
}


.instructions {
  text-align: left;
  width: 45%;
  float: left;
}


.play-button {
  font-size: 20px;
  width: 10%;
  float: left;
}


.canvas-container {
  clear: left;
  margin: 10px auto;
  text-align: center;
}


#playarea {
  border: 1px solid #999;
}

.gameover {
  height: 0;
  margin: 0;
  font-size: 48px;
  color: #F00;
  position: relative;
  top: 0;
}