#board {
  background-color: #eee;
  height: 600px;
  width: 800px;
  position: relative;
}

.asteroid {
  border: 1px solid black;
  position: absolute;
  border-radius: 50%;
  z-index: 10;
}

.rocket {
   width: 0;
   height: 0;
   border-left: 25px solid transparent;
   border-right: 25px solid transparent;
   border-bottom: 50px solid red;
   position: absolute;
   -ms-transform: rotate(-20deg); 
   -webkit-transform: rotate(-20deg); 
   transform: rotate(-20deg);
}
  